
# Ignore these

# monitor
data/monitor/*.hex
data/monitor/*.bin
data/monitor/*.lst

# demo
data/demo/*.hex
data/demo/*.bin
data/demo/*.lst

# monitor
data/tests/*.hex
data/tests/*.bin
data/tests/*.lst

# Quartus files
quartus/*.v
quartus/*.vh
quartus/db/**
quartus/incremental_db/**
quartus/output_files/*.rpt
quartus/output_files/*.summary
quartus/output_files/*.done
quartus/output_files/*.smsg
